<div class="row">
	<div class="col-sm-6 offset-sm-3">
		<h4>Forecast by city</h4>
		<div class="form-group">
			<input type="text" name="" class="form-control" ng-model="city">
		</div>
		<a href="#!/forecast" class="btn btn-primary btn-sm"> Get Forecast</a>
	</div>
</div>

Hi Brian,

I really apologize for that careless answer that I gave you two days before. I have only came to realize a few hours ago of that mistake. I really do hope you can give me another shot for this position. Having a chance to interview and work for ASUS would be a dream come true. As a computer building hobbyist for over 10 years, I have used the ASUS motherboards consistently for the majority of my builds. The ASUS brand name stands out to me from your hardware, gaming laptops, to routers.